body{
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box;
}

*:focus{
    outline: 2px dotted #FF7500;
}

.container{
    width: 100%;
    max-width: 1120px;
    padding-right: 20px;
    padding-left: 20px;
    margin-left: auto;
    margin-right: auto;

}

/* Header styles */
.site-header{
    border-top: 5px solid #FF7500;
    padding: 16px 170px;
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-link{
    transition: opacity 0.4s ease;
}

.logo-link:hover{
    opacity: 0.8;
}

.logo-link:active{
    opacity: 0.6;
}
.nav-items{
    display: flex;
    align-items: center;
    margin: 0;
}

.nav-item{
    margin-right: 32px;
}

.nav-item:last-child{
    margin-right:32px;
}

.nav-links{
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-link{
    font-weight: 500;
    font-size: 13px;
    text-decoration: none;
    line-height: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000;
    transition: color 0.4s ease,
    opacity 0.4s ease;
}

.nav-link:hover{
    color:#FF7500;
}

.nav-link:active{
    opacity: 0.6;
}

.active{
    width: 155px;
    height: 39px;
    background-color: #FF7500;
    text-decoration: none;
    line-height: 15px;
    letter-spacing: 0.5px;
    font-size: 13px;
    font-weight: 400;
    color: #fff;
    transition: background-color 0.4s ease, opacity 0.4s ease;
    padding: 12px 24px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    margin-left: 32px;
    margin-right: 0;
}

.active:last-child{
    margin-left: 0;
}

.active:hover{
    opacity: 0.8;
}

.active:active{
    opacity: 0.6;
}

/* Hero styles */
.hero{
    background:  #252420;
}

.hero-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-content{
    width: 387px;
    height: 328px;
}

.orange-line{
    width: 80px;
    height: 3px;
    border: none;
    background:  #FF7500;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 40px;
}

.hero-heading{
    font-size: 40px;
    color: #fff;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.5px;
    margin-bottom: 24px;
}

.hero-text{
    width: 387px;
    height: 96px;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.5px;
    color: #fff;
    margin-top: 0;
    margin-bottom: 32px;
}

.hero-img{
    width: 510px;
    height: 510px;
    border-radius: 8px;
    margin-top: 40px;
}

/* features styles */
.features{
    padding-top: 210px;
}

.features-title{
    font-size: 72px;
    font-weight: 700;
    line-height: 86px;
    letter-spacing: 0.5px;
}

.feature-cards{
    list-style: none;
    display: flex;
    align-items: center;
    padding:0;
}

.feature-card{
    margin-right: 66px;
}

.feature-card:last-child{
    margin-right: 0;
}

.feature-img-wrapped{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;background-color: #FF750033;
    border-radius: 50%;
    margin-bottom: 32px;
}

.feature-title{
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.5px;
    color: #000;
}

.feature-text{
    width: 314px;
    height: 72px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
}

/* promo styles */
.promo{
    background-color: #252420;
    border-radius: 12px;
    /* margin-top: 210px; */
    /* margin-left: 170px; */
}

.promo-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.promo-content{
    width: 440px;
    height: 291px;
    /* padding-left: 64px; */
    margin: 0;
}
.promo-heading{
    font-size: 40px;
    line-height: 48px;
    font-weight: 700;
    letter-spacing: 0.5;
    color: #fff;
    margin-top: 0;
    margin-bottom: 24px;
}

.promo-text{
    width: 440px;
    height: 48px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #fff;
    margin-top: 0;
}

.promo-text:last-child{
    margin-bottom: 36px;
}

.promo-highlight{
    color: #FF7500;
}

.promo-img{
    width: 440px;
    height: 440px;
    object-fit: cover;

}

/* footer styles */
footer{
    background-color: #f8f8f8;
    margin-top: 160px;
    padding-top: 56px;
}

.footer-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-social-list{
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
}

.nav-social-item{
    width: 24px;
    height: 24px;
    margin-right: 16px;
}

.nav-social-item:last-child{

    margin-right: 0;
}

.nav-social-item a{
    color: #252420;
    transition: color 0.4s ease, opacity 0.4s ease;
}

.nav-social-item a:hover{
    color: #FF7500;
}

.nav-social-item a:active{
    opacity: 0.6;
}
.footer-bottom{
    display: flex;
    align-items: top;

}

.footer-links{
    list-style: none;
    /* padding-left: 170px; */
    /* padding-right: 170px; */
}

.footer-links li{
    width: 224px;
    height: 19px;
    margin-bottom: 16px;
}

.footer-link a{
    text-decoration: none;
    color: #252420;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    transition: color 0.4s ease, opacity 0.4s ease;
}

.footer-link a:hover{
    color: #FF7500;
}

.footer-link a:active{
    opacity: 0.6;
}