body{
    font-family: 'Roboto Condensed', sans-serif;
}

.header-line{
    width: 100%;
    height: 5px;
    background: rgba(255, 117, 0, 1);
    border: 0;
}

/* Header styles */
.site-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-link{
    transition: opacity 0.4s ease;
}

.logo-link:hover{
    opacity: 0.8;
}

.logo-link:active{
    opacity: 0.6;
}
.nav-items{
    display: flex;
    align-items: center;
}

.nav-links{
    display: flex;
    align-items: center;
    list-style: none;
}

.nav-link{
    font-weight: 500;
    font-size: 13px;
    text-decoration: none;
    line-height: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000;
    transition: color 0.4s ease,
    opacity 0.4s ease;
}

.nav-link:hover{
    color:#FF7500;
}

.nav-link:active{
    opacity: 0.6;
}

.active{
    width: 155px;
    height: 39px;
    background-color: #FF7500;
    text-decoration: none;
    line-height: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 400;
    color: #fff;
    transition: background-color 0.4s ease, opacity 0.4s ease;
}

.active:hover{
    opacity: 0.8;
}

.active:active{
    opacity: 0.6;
}

/* Hero styles */
.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.orange-line{
    width: 80px;
    height: 3px;
    background:  #FF7500;
}

.hero{
    width: 1440px;
    height: 488px;
    background:  #252420;
}

.hero-heading{
    font-size: 40px;
    line-height: 48px;
    color: #fff;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.5px;
}

.hero-text{
    width: 387px;
    height: 96px;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.5px;
    color: #fff;
}

.python-book{
    width: 510px;
    height: 510px;
    border-radius: 8px;
}

/* features styles */
.features-heading{
    font-size: 72px;
    font-weight: 700;
    line-height: 86px;
    letter-spacing: 0.5px;
}

.feature-cards{
    list-style: none;
    display: flex;
    align-items: center;

}

.feature-img-wrapped{
    width: 100px;
    height: 100px;
}

.feature-title{
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.5px;
    color: #000;
}

.feature-text{
    width: 314px;
    height: 72px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
}

/* promo styles */
.promo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1100px;
    height: 419px;
    background-color: #252420;
}

.promo-content{
    width: 440px;
    height: 291px;
}
.promo-heading{
    font-size: 40px;
    line-height: 48px;
    font-weight: 700;
    letter-spacing: 0.5;
    color: #fff;
}

.promo-text{
    width: 440px;
    height: 48px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #fff;
}

.promo-highlight{
    color: #FF7500;
}

.promo-img{
    width: 440px;
    height: 440px;
    object-fit: cover;
}

/* footer styles */
footer{
    background-color: #f8f8f8;
}

.footer-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-social-list{
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-social-item{
    width: 24px;
    height: 24px;;
}

.nav-social-item a{
    color: #252420;
    transition: color 0.4s ease, opacity 0.4s ease;
}

.nav-social-item a:hover{
    color: #FF7500;
}

.nav-social-item a:active{
    opacity: 0.6;
}
.footer-bottom{
    display: flex;
    align-items: center;

}

.footer-links{
    list-style: none;
}

.footer-links li{
    width: 224px;
    height: 19px;
}

.footer-link a{
    text-decoration: none;
    color: #252420;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    transition: color 0.4s ease, opacity 0.4s ease;
}

.footer-link a:hover{
    color: #FF7500;
}

.footer-link a:active{
    opacity: 0.6;
}